body {
  background-color: rgb(206, 218, 252);
}

.App {
  text-align: center;
}

.header {
  background-color: rgb(108, 122, 245);
  max-height: 100px;
}

.headerText {
  text-align: center;
  font-size: 24px;
  color: white;
}

.homePage {
  color: black;
  padding-top: 100px;
}

.teamPage {
  color: black;
  padding-top: 100px;
}

.matchTable {
  background: rgb(206, 218, 252);
  height: "50px";
  width: "300px";
  border: 1px solid rgb(108, 122, 245) !important;
}
